python-dotenv==1.2.2
matplotlib==3.10.9
numpy==2.4.4
pandas==3.0.2
numexpr==2.14.1
langgraph==1.1.9
langchain-core==1.3.2
langchain-groq==1.1.2
tavily-python==0.7.23
GROQ_API_KEY=Your_GROQ_API_KEY_here
TAVILY_API_KEY=Your_TAVILY_API_KEY_here